In [29]:
import requests
import defs
import pandas as pd

In [30]:
session = requests.Session()

In [31]:
instrument = "EUR_USD"
count = 10
granularity = "H1"

In [32]:
params = dict(
    count = count,
    granularity = granularity,
    price  = "MBA"
)

In [33]:
url = f"{defs.OANDA_URL}/instruments/{instrument}/candles"

In [35]:
response = session.get(url, params=params, headers=defs.SECURE_HEADER)

In [36]:
data_returned = response.json()

In [37]:
len(data_returned['candles'])

10

In [43]:
our_data = []
prices = ['bid', 'mid', 'ask']
ohlc = ['o', 'h', 'l', 'c']

for candle in data_returned['candles']:
    if candle['complete'] == False:
        continue
    new_obj = {}
    new_obj['time'] = candle['time']
    new_obj['volume'] = candle['volume']
    for price in prices:
        for point in ohlc:
            new_obj[f'{price}_{point}'] = candle[price][point]
    our_data.append(new_obj)

In [39]:
our_data_df = pd.DataFrame.from_dict(our_data)

In [40]:
our_data_df.to_pickle('our_data.pkl')

In [41]:
pd.read_pickle('our_data.pkl')

,time,volume,bid_o,bid_h,bid_l,bid_c,mid_o,mid_h,mid_l,mid_c,ask_o,ask_h,ask_l,ask_c
0,2023-05-07T22:00:00.000000000Z,980,1.10182,1.10217,1.10136,1.10157,1.10220,1.10230,1.10144,1.10166,1.10259,1.10259,1.10153,1.10174
1,2023-05-07T23:00:00.000000000Z,1108,1.10156,1.10211,1.10134,1.10177,1.10164,1.10219,1.10142,1.10184,1.10172,1.10227,1.10150,1.10191
2,2023-05-08T00:00:00.000000000Z,2263,1.10178,1.10247,1.10161,1.10236,1.10185,1.10254,1.10168,1.10244,1.10192,1.10262,1.10175,1.10251
3,2023-05-08T01:00:00.000000000Z,2503,1.10236,1.10314,1.10180,1.10306,1.10244,1.10322,1.10187,1.10314,1.10253,1.10330,1.10194,1.10322
4,2023-05-08T02:00:00.000000000Z,2092,1.10309,1.10365,1.10274,1.10313,1.10317,1.10372,1.10282,1.10320,1.10325,1.10380,1.10289,1.10327
5,2023-05-08T03:00:00.000000000Z,1668,1.10312,1.10393,1.10306,1.10384,1.10320,1.10400,1.10314,1.10392,1.10328,1.10407,1.10320,1.10399
6,2023-05-08T04:00:00.000000000Z,2030,1.10384,1.10438,1.10379,1.10428,1.10391,1.10445,1.10386,1.10436,1.10398,1.10452,1.10393,1.10444
7,2023-05-08T05:00:00.000000000Z,2083,1.10429,1.10437,1.10359,1.10381,1.10436,1.10445,1.10368,1.10388,1.10444,1.10453,1.10375,1.10396
8,2023-05-08T06:00:00.000000000Z,2622,1.10383,1.10500,1.10367,1.10477,1.10390,1.10506,1.10374,1.10484,1.10398,1.10513,1.10382,1.10490