In [6]:
import requests
import defs
import pandas as pd

In [7]:
session = requests.Session()

In [8]:
url = f"{defs.OANDA_URL}/accounts/{defs.ACCOUNT_ID}/instruments"

In [9]:
response = session.get(url=url, headers=defs.SECURE_HEADER)

In [10]:
data = response.json()

In [11]:
instruments = data['instruments']

In [12]:
instrument_data = []
for item in instruments:
    new_ob = dict(
        name = item['name'],
        type = item['type'],
        displayName = item['displayName'],
        pipLocation = item['pipLocation'],
        marginRate = item['marginRate']
    )

    instrument_data.append(new_ob)

In [13]:
instruments_df = pd.DataFrame.from_dict(instrument_data)

In [14]:
instruments_df.to_pickle('instruments_df.pkl')

In [15]:
pd.read_pickle('instruments_df.pkl')

       name      type displayName  pipLocation marginRate
0   GBP_SGD  CURRENCY     GBP/SGD           -4       0.05
1   USD_SEK  CURRENCY     USD/SEK           -4       0.03
2   EUR_DKK  CURRENCY     EUR/DKK           -4        0.1
3   CAD_CHF  CURRENCY     CAD/CHF           -4       0.04
4   USD_CZK  CURRENCY     USD/CZK           -4       0.05
..      ...       ...         ...          ...        ...
63  EUR_AUD  CURRENCY     EUR/AUD           -4       0.03
64  GBP_AUD  CURRENCY     GBP/AUD           -4       0.05
65  USD_PLN  CURRENCY     USD/PLN           -4       0.05
66  EUR_CHF  CURRENCY     EUR/CHF           -4       0.04
67  EUR_ZAR  CURRENCY     EUR/ZAR           -4       0.07

[68 rows x 5 columns]