In [8]:
import requests
import defs
import pandas as pd

In [9]:
session = requests.Session()

In [10]:
ins_df = pd.read_pickle('instruments_df.pkl')

In [11]:
our_curr = ['EUR', 'USD', 'GPB', 'JPY', 'CHF', 'NZD', 'CAD']

In [12]:
def fetch_candles(pair_name, count, granularity):
    url = f"{defs.OANDA_URL}/instruments/{pair_name}/candles"
    params = dict(
        count = count,
        granularity = granularity,
        price = "MBA"
    )
    response = session.get(url, params=params, headers=defs.SECURE_HEADER)
    return response.status_code, response.json()

In [13]:
def get_candles_df(json_response):
    prices = ['bid', 'mid', 'ask']
    ohlc = ['o', 'h', 'l', 'c']
    
    our_data = []

    for candle in json_response['candles']:
        if candle['complete'] == False:
            continue
        new_obj = {}
        new_obj['time'] = candle['time']
        new_obj['volume'] = candle['volume']
        for price in prices:
            for point in ohlc:
                new_obj[f'{price}_{point}'] = candle[price][point]
        our_data.append(new_obj)
    return pd.DataFrame.from_dict(our_data)

In [14]:
code, res = fetch_candles("EUR_USD", 10, "H1")

In [15]:
df = get_candles_df(res)

In [16]:
df.head()

,time,volume,bid_o,bid_h,bid_l,bid_c,mid_o,mid_h,mid_l,mid_c,ask_o,ask_h,ask_l,ask_c
0,2023-05-08T05:00:00.000000000Z,2083,1.10429,1.10437,1.10359,1.10381,1.10436,1.10445,1.10368,1.10388,1.10444,1.10453,1.10375,1.10396
1,2023-05-08T06:00:00.000000000Z,2622,1.10383,1.10500,1.10367,1.10477,1.10390,1.10506,1.10374,1.10484,1.10398,1.10513,1.10382,1.10490
2,2023-05-08T07:00:00.000000000Z,3596,1.10475,1.10494,1.10377,1.10487,1.10482,1.10501,1.10384,1.10494,1.10488,1.10508,1.10391,1.10501
3,2023-05-08T08:00:00.000000000Z,3920,1.10486,1.10530,1.10352,1.10355,1.10493,1.10538,1.10360,1.10362,1.10500,1.10546,1.10367,1.10370
4,2023-05-08T09:00:00.000000000Z,3674,1.10353,1.10386,1.10220,1.10352,1.10361,1.10392,1.10228,1.10360,1.10369,1.10399,1.10236,1.10368

In [17]:
def save_file(candles_df, pair, granularity):
    candles_df.to_pickle(f"his_data/{pair}_{granularity}.pkl")

In [18]:
def create_data(pair, granularity):
    code, json_data = fetch_candles(pair, 4000, granularity)
    if code != 200:
        print(pair, "Error")
        return
    data_f = get_candles_df(json_data)
    print(f"{data_f} loaded {data_f.shape[0]} candles from {data_f.time.min()} to {data_f.time.max()}")
    save_file(data_f, pair, granularity)

In [19]:
for p1 in our_curr:
    for p2 in our_curr:
        pair = f"{p1}_{p2}"
        if pair in ins_df.name.unique():
            create_data(pair, "H1")

                                time  volume    bid_o    bid_h    bid_l
0     2022-09-14T22:00:00.000000000Z    1327  0.99787  0.99841  0.99784  \
1     2022-09-14T23:00:00.000000000Z    1184  0.99816  0.99832  0.99786
2     2022-09-15T00:00:00.000000000Z    2582  0.99812  0.99814  0.99710
3     2022-09-15T01:00:00.000000000Z    3150  0.99747  0.99815  0.99698
4     2022-09-15T02:00:00.000000000Z    2055  0.99808  0.99819  0.99685
...                              ...     ...      ...      ...      ...
3994  2023-05-08T09:00:00.000000000Z    3674  1.10353  1.10386  1.10220
3995  2023-05-08T10:00:00.000000000Z    2693  1.10353  1.10495  1.10346
3996  2023-05-08T11:00:00.000000000Z    3591  1.10474  1.10508  1.10294
3997  2023-05-08T12:00:00.000000000Z    3915  1.10344  1.10404  1.10313
3998  2023-05-08T13:00:00.000000000Z    4945  1.10365  1.10437  1.10326

        bid_c    mid_o    mid_h    mid_l    mid_c    ask_o    ask_h    ask_l
0     0.99815  0.99810  0.99848  0.99802  0.99824  0.99832  0.99856  0.99813  \
1     0.99814  0.99824  0.99840  0.99796  0.99822  0.99832  0.99847  0.99805
2     0.99749  0.99820  0.99822  0.99717  0.99756  0.99828  0.99830  0.99724
3     0.99805  0.99754  0.99823  0.99705  0.99813  0.99762  0.99831  0.99712
4     0.99735  0.99816  0.99826  0.99692  0.99742  0.99823  0.99835  0.99700
...       ...      ...      ...      ...      ...      ...      ...      ...
3994  1.10352  1.10361  1.10392  1.10228  1.10360  1.10369  1.10399  1.10236
3995  1.10473  1.10360  1.10502  1.10354  1.10480  1.10367  1.10509  1.10361
3996  1.10345  1.10481  1.10514  1.10301  1.10352  1.10488  1.10521  1.10308
3997  1.10364  1.10351  1.10410  1.10320  1.10372  1.10358  1.10418  1.10326
3998  1.10426  1.10372  1.10444  1.10335  1.10434  1.10379  1.10450  1.10342

        ask_c
0     0.99832
1     0.99830
2     0.99764
3     0.99821
4     0.99749
...       ...
3994  1.10368
3995  1.10487
3996  1.10359
3997  1.10379
3998  1.10441

[3999 rows x 14 columns] loaded 3999 candles from 2022-09-14T22:00:00.000000000Z to 2023-05-08T13:00:00.000000000Z
                                time  volume    bid_o    bid_h    bid_l
0     2022-09-14T22:00:00.000000000Z    6569  142.864  142.868  142.653  \
1     2022-09-14T23:00:00.000000000Z    4269  142.790  142.812  142.555
2     2022-09-15T00:00:00.000000000Z    7206  142.663  142.916  142.628
3     2022-09-15T01:00:00.000000000Z    7423  142.792  142.794  142.558
4     2022-09-15T02:00:00.000000000Z    6833  142.706  142.995  142.702
...                              ...     ...      ...      ...      ...
3994  2023-05-08T09:00:00.000000000Z    5601  148.939  149.052  148.797
3995  2023-05-08T10:00:00.000000000Z    4214  148.999  149.214  148.981
3996  2023-05-08T11:00:00.000000000Z    4773  149.167  149.237  149.105
3997  2023-05-08T12:00:00.000000000Z    6685  149.174  149.205  148.981
3998  2023-05-08T13:00:00.000000000Z    7192  149.056  149.139  148.868

        bid_c    mid_o    mid_h    mid_l    mid_c    ask_o    ask_h    ask_l
0     142.789  142.871  142.880  142.664  142.802  142.878  142.897  142.673  \
1     142.666  142.802  142.823  142.566  142.676  142.814  142.834  142.577
2     142.784  142.673  142.928  142.641  142.796  142.683  142.940  142.651
3     142.702  142.803  142.804  142.570  142.712  142.814  142.816  142.582
4     142.925  142.716  143.006  142.713  142.936  142.727  143.018  142.723
...       ...      ...      ...      ...      ...      ...      ...      ...
3994  149.005  148.949  149.061  148.807  149.014  148.959  149.071  148.816
3995  149.167  149.008  149.224  148.990  149.176  149.016  149.233  148.999
3996  149.176  149.176  149.244  149.114  149.184  149.186  149.253  149.123
3997  149.060  149.182  149.214  148.989  149.068  149.191  149.223  148.997
3998  149.010  149.064  149.148  148.876  149.020  149.072  149.157  148.884

        ask_c
0     142.815
1     142.687
2     142.809
3     142.723
4     142.947
...       ...
3994  149.022
3995  149.184
3996  149.191
3997  149.075
3998  149.029

[3999 rows x 14 columns] loaded 3999 candles from 2022-09-14T22:00:00.000000000Z to 2023-05-08T13:00:00.000000000Z
                                time  volume    bid_o    bid_h    bid_l
0     2022-09-14T22:00:00.000000000Z    1493  0.96034  0.96055  0.95969  \
1     2022-09-14T23:00:00.000000000Z    1055  0.96023  0.96038  0.96000
2     2022-09-15T00:00:00.000000000Z    2161  0.96035  0.96050  0.95996
3     2022-09-15T01:00:00.000000000Z    2145  0.96009  0.96014  0.95967
4     2022-09-15T02:00:00.000000000Z    2255  0.96002  0.96064  0.95995
...                              ...     ...      ...      ...      ...
3994  2023-05-08T09:00:00.000000000Z    2340  0.98051  0.98130  0.98016
3995  2023-05-08T10:00:00.000000000Z    1981  0.98116  0.98157  0.98090
3996  2023-05-08T11:00:00.000000000Z    2096  0.98154  0.98214  0.98124
3997  2023-05-08T12:00:00.000000000Z    2687  0.98127  0.98132  0.98088
3998  2023-05-08T13:00:00.000000000Z    3058  0.98121  0.98214  0.98098

        bid_c    mid_o    mid_h    mid_l    mid_c    ask_o    ask_h    ask_l
0     0.96022  0.96054  0.96063  0.96012  0.96034  0.96074  0.96130  0.96029  \
1     0.96035  0.96035  0.96048  0.96012  0.96045  0.96047  0.96057  0.96023
2     0.96008  0.96044  0.96060  0.96006  0.96018  0.96054  0.96071  0.96014
3     0.96002  0.96017  0.96024  0.95976  0.96012  0.96025  0.96034  0.95986
4     0.96036  0.96013  0.96074  0.96006  0.96044  0.96024  0.96084  0.96017
...       ...      ...      ...      ...      ...      ...      ...      ...
3994  0.98120  0.98059  0.98138  0.98025  0.98128  0.98067  0.98147  0.98034
3995  0.98153  0.98124  0.98164  0.98097  0.98161  0.98133  0.98172  0.98104
3996  0.98127  0.98162  0.98222  0.98132  0.98134  0.98171  0.98229  0.98139
3997  0.98122  0.98135  0.98138  0.98096  0.98130  0.98143  0.98146  0.98103
3998  0.98124  0.98128  0.98221  0.98107  0.98132  0.98135  0.98229  0.98115

        ask_c
0     0.96047
1     0.96055
2     0.96027
3     0.96022
4     0.96053
...       ...
3994  0.98135
3995  0.98169
3996  0.98142
3997  0.98137
3998  0.98139

[3999 rows x 14 columns] loaded 3999 candles from 2022-09-14T22:00:00.000000000Z to 2023-05-08T13:00:00.000000000Z
                                time  volume    bid_o    bid_h    bid_l
0     2022-09-14T22:00:00.000000000Z    1854  1.66138  1.66179  1.65657  \
1     2022-09-14T23:00:00.000000000Z    1024  1.65927  1.65957  1.65679
2     2022-09-15T00:00:00.000000000Z    1048  1.65866  1.66023  1.65809
3     2022-09-15T01:00:00.000000000Z    2031  1.66000  1.66141  1.65844
4     2022-09-15T02:00:00.000000000Z     863  1.65843  1.66039  1.65719
...                              ...     ...      ...      ...      ...
3994  2023-05-08T09:00:00.000000000Z     865  1.74515  1.74551  1.74223
3995  2023-05-08T10:00:00.000000000Z     531  1.74289  1.74333  1.74057
3996  2023-05-08T11:00:00.000000000Z     630  1.74068  1.74125  1.73846
3997  2023-05-08T12:00:00.000000000Z     897  1.73948  1.74014  1.73772
3998  2023-05-08T13:00:00.000000000Z     952  1.73816  1.73826  1.73586

        bid_c    mid_o    mid_h    mid_l    mid_c    ask_o    ask_h    ask_l
0     1.65921  1.66207  1.66220  1.65680  1.65942  1.66276  1.66284  1.65702  \
1     1.65857  1.65947  1.65977  1.65699  1.65877  1.65967  1.65997  1.65719
2     1.66006  1.65886  1.66043  1.65830  1.66028  1.65906  1.66063  1.65850
3     1.65850  1.66022  1.66183  1.65864  1.65870  1.66045  1.66225  1.65884
4     1.65978  1.65863  1.66059  1.65739  1.65998  1.65883  1.66079  1.65759
...       ...      ...      ...      ...      ...      ...      ...      ...
3994  1.74298  1.74534  1.74570  1.74242  1.74318  1.74554  1.74590  1.74262
3995  1.74077  1.74308  1.74352  1.74076  1.74096  1.74328  1.74372  1.74096
3996  1.73954  1.74088  1.74144  1.73866  1.73974  1.74107  1.74164  1.73885
3997  1.73823  1.73968  1.74034  1.73792  1.73842  1.73987  1.74053  1.73811
3998  1.73656  1.73836  1.73846  1.73606  1.73676  1.73855  1.73865  1.73625

        ask_c
0     1.65963
1     1.65897
2     1.66049
3     1.65890
4     1.66018
...       ...
3994  1.74337
3995  1.74116
3996  1.73993
3997  1.73862
3998  1.73695

[3999 rows x 14 columns] loaded 3999 candles from 2022-09-14T22:00:00.000000000Z to 2023-05-08T13:00:00.000000000Z
                                time  volume    bid_o    bid_h    bid_l
0     2022-09-14T22:00:00.000000000Z    1287  1.31310  1.31419  1.31306  \
1     2022-09-14T23:00:00.000000000Z     883  1.31371  1.31384  1.31296
2     2022-09-15T00:00:00.000000000Z    2301  1.31363  1.31382  1.31303
3     2022-09-15T01:00:00.000000000Z    3293  1.31344  1.31406  1.31314
4     2022-09-15T02:00:00.000000000Z    2676  1.31321  1.31333  1.31226
...                              ...     ...      ...      ...      ...
3994  2023-05-08T09:00:00.000000000Z    4832  1.47340  1.47363  1.47144
3995  2023-05-08T10:00:00.000000000Z    3322  1.47233  1.47419  1.47226
3996  2023-05-08T11:00:00.000000000Z    4232  1.47340  1.47403  1.47064
3997  2023-05-08T12:00:00.000000000Z    4835  1.47146  1.47218  1.47025
3998  2023-05-08T13:00:00.000000000Z    7548  1.47061  1.47231  1.46954

        bid_c    mid_o    mid_h    mid_l    mid_c    ask_o    ask_h    ask_l
0     1.31371  1.31362  1.31430  1.31339  1.31381  1.31415  1.31446  1.31351  \
1     1.31364  1.31382  1.31396  1.31307  1.31375  1.31393  1.31407  1.31317
2     1.31347  1.31375  1.31392  1.31316  1.31359  1.31387  1.31404  1.31328
3     1.31321  1.31356  1.31418  1.31326  1.31332  1.31369  1.31430  1.31338
4     1.31290  1.31334  1.31343  1.31237  1.31302  1.31346  1.31353  1.31247
...       ...      ...      ...      ...      ...      ...      ...      ...
3994  1.47234  1.47348  1.47368  1.47152  1.47243  1.47357  1.47375  1.47161
3995  1.47339  1.47242  1.47426  1.47234  1.47348  1.47252  1.47435  1.47242
3996  1.47147  1.47348  1.47410  1.47072  1.47154  1.47356  1.47419  1.47079
3997  1.47060  1.47154  1.47224  1.47034  1.47068  1.47162  1.47233  1.47043
3998  1.47197  1.47070  1.47239  1.46963  1.47202  1.47080  1.47247  1.46972

        ask_c
0     1.31391
1     1.31386
2     1.31371
3     1.31344
4     1.31313
...       ...
3994  1.47252
3995  1.47356
3996  1.47162
3997  1.47077
3998  1.47207

[3999 rows x 14 columns] loaded 3999 candles from 2022-09-14T22:00:00.000000000Z to 2023-05-08T13:00:00.000000000Z
                                time  volume    bid_o    bid_h    bid_l
0     2022-09-14T22:00:00.000000000Z    7831  143.111  143.122  142.866  \
1     2022-09-14T23:00:00.000000000Z    2581  143.038  143.077  142.787
2     2022-09-15T00:00:00.000000000Z    5705  142.910  143.266  142.901
3     2022-09-15T01:00:00.000000000Z    7730  143.138  143.185  142.907
4     2022-09-15T02:00:00.000000000Z    6407  142.968  143.429  142.954
...                              ...     ...      ...      ...      ...
3994  2023-05-08T09:00:00.000000000Z    3823  134.958  135.037  134.932
3995  2023-05-08T10:00:00.000000000Z    3524  135.016  135.049  134.927
3996  2023-05-08T11:00:00.000000000Z    3647  135.017  135.205  134.962
3997  2023-05-08T12:00:00.000000000Z    4575  135.183  135.221  134.974
3998  2023-05-08T13:00:00.000000000Z    5453  135.050  135.057  134.881

        bid_c    mid_o    mid_h    mid_l    mid_c    ask_o    ask_h    ask_l
0     143.038  143.142  143.143  142.902  143.048  143.174  143.177  142.924  \
1     142.914  143.048  143.087  142.798  142.925  143.058  143.098  142.808
2     143.128  142.920  143.276  142.910  143.138  142.931  143.285  142.919
3     142.962  143.146  143.194  142.918  142.972  143.155  143.204  142.928
4     143.293  142.977  143.441  142.964  143.302  142.986  143.453  142.973
...       ...      ...      ...      ...      ...      ...      ...      ...
3994  135.014  134.966  135.046  134.940  135.024  134.973  135.054  134.947
3995  135.019  135.024  135.056  134.935  135.027  135.033  135.065  134.943
3996  135.185  135.026  135.213  134.970  135.192  135.035  135.221  134.977
3997  135.054  135.190  135.228  134.980  135.062  135.198  135.236  134.987
3998  134.927  135.058  135.064  134.890  134.936  135.065  135.071  134.898

        ask_c
0     143.059
1     142.936
2     143.149
3     142.982
4     143.310
...       ...
3994  135.033
3995  135.035
3996  135.200
3997  135.069
3998  134.945

[3999 rows x 14 columns] loaded 3999 candles from 2022-09-14T22:00:00.000000000Z to 2023-05-08T13:00:00.000000000Z
                                time  volume    bid_o    bid_h    bid_l
0     2022-09-14T22:00:00.000000000Z    1071  0.96212  0.96212  0.96142  \
1     2022-09-14T23:00:00.000000000Z    1200  0.96194  0.96210  0.96173
2     2022-09-15T00:00:00.000000000Z    2065  0.96207  0.96299  0.96207
3     2022-09-15T01:00:00.000000000Z    2458  0.96241  0.96291  0.96185
4     2022-09-15T02:00:00.000000000Z    1795  0.96185  0.96328  0.96183
...                              ...     ...      ...      ...      ...
3994  2023-05-08T09:00:00.000000000Z    2216  0.88841  0.88947  0.88828
3995  2023-05-08T10:00:00.000000000Z    1550  0.88906  0.88914  0.88796
3996  2023-05-08T11:00:00.000000000Z    1865  0.88840  0.88979  0.88840
3997  2023-05-08T12:00:00.000000000Z    2274  0.88918  0.88944  0.88845
3998  2023-05-08T13:00:00.000000000Z    2796  0.88900  0.88961  0.88846

        bid_c    mid_o    mid_h    mid_l    mid_c    ask_o    ask_h    ask_l
0     0.96192  0.96248  0.96272  0.96194  0.96205  0.96283  0.96347  0.96208  \
1     0.96207  0.96206  0.96220  0.96182  0.96216  0.96217  0.96232  0.96190
2     0.96241  0.96216  0.96308  0.96216  0.96251  0.96225  0.96318  0.96224
3     0.96186  0.96250  0.96299  0.96192  0.96194  0.96259  0.96308  0.96200
4     0.96285  0.96194  0.96337  0.96192  0.96293  0.96203  0.96346  0.96200
...       ...      ...      ...      ...      ...      ...      ...      ...
3994  0.88908  0.88850  0.88956  0.88836  0.88916  0.88858  0.88964  0.88844
3995  0.88843  0.88915  0.88921  0.88804  0.88851  0.88924  0.88929  0.88811
3996  0.88921  0.88847  0.88987  0.88847  0.88928  0.88854  0.88995  0.88854
3997  0.88901  0.88924  0.88950  0.88854  0.88908  0.88931  0.88957  0.88861
3998  0.88852  0.88906  0.88968  0.88852  0.88859  0.88913  0.88976  0.88859

        ask_c
0     0.96218
1     0.96224
2     0.96261
3     0.96202
4     0.96301
...       ...
3994  0.88923
3995  0.88859
3996  0.88935
3997  0.88916
3998  0.88866

[3999 rows x 14 columns] loaded 3999 candles from 2022-09-14T22:00:00.000000000Z to 2023-05-08T13:00:00.000000000Z
                                time  volume    bid_o    bid_h    bid_l
0     2022-09-14T22:00:00.000000000Z    1088  1.31589  1.31632  1.31527  \
1     2022-09-14T23:00:00.000000000Z    1679  1.31597  1.31606  1.31534
2     2022-09-15T00:00:00.000000000Z    2705  1.31591  1.31697  1.31591
3     2022-09-15T01:00:00.000000000Z    4514  1.31661  1.31746  1.31554
4     2022-09-15T02:00:00.000000000Z    2675  1.31562  1.31641  1.31534
...                              ...     ...      ...      ...      ...
3994  2023-05-08T09:00:00.000000000Z    2855  1.33506  1.33542  1.33366
3995  2023-05-08T10:00:00.000000000Z    1905  1.33413  1.33456  1.33358
3996  2023-05-08T11:00:00.000000000Z    2582  1.33365  1.33422  1.33297
3997  2023-05-08T12:00:00.000000000Z    3564  1.33347  1.33393  1.33216
3998  2023-05-08T13:00:00.000000000Z    4762  1.33243  1.33353  1.33141

        bid_c    mid_o    mid_h    mid_l    mid_c    ask_o    ask_h    ask_l
0     1.31592  1.31614  1.31648  1.31538  1.31602  1.31638  1.31666  1.31548  \
1     1.31591  1.31606  1.31616  1.31544  1.31602  1.31615  1.31627  1.31554
2     1.31661  1.31602  1.31706  1.31602  1.31670  1.31614  1.31717  1.31613
3     1.31559  1.31671  1.31756  1.31564  1.31570  1.31681  1.31767  1.31575
4     1.31623  1.31572  1.31650  1.31544  1.31634  1.31581  1.31659  1.31555
...       ...      ...      ...      ...      ...      ...      ...      ...
3994  1.33413  1.33516  1.33552  1.33375  1.33422  1.33526  1.33561  1.33384
3995  1.33365  1.33422  1.33464  1.33366  1.33374  1.33430  1.33471  1.33372
3996  1.33348  1.33373  1.33430  1.33304  1.33356  1.33381  1.33437  1.33312
3997  1.33243  1.33355  1.33402  1.33224  1.33252  1.33363  1.33410  1.33233
3998  1.33287  1.33252  1.33362  1.33150  1.33298  1.33261  1.33372  1.33158

        ask_c
0     1.31612
1     1.31612
2     1.31680
3     1.31581
4     1.31644
...       ...
3994  1.33431
3995  1.33382
3996  1.33363
3997  1.33260
3998  1.33308

[3999 rows x 14 columns] loaded 3999 candles from 2022-09-14T22:00:00.000000000Z to 2023-05-08T13:00:00.000000000Z
                                time  volume    bid_o    bid_h    bid_l
0     2022-09-14T22:00:00.000000000Z    2418  148.631  148.734  148.498  \
1     2022-09-14T23:00:00.000000000Z    2195  148.677  148.713  148.446
2     2022-09-15T00:00:00.000000000Z    5796  148.535  148.799  148.510
3     2022-09-15T01:00:00.000000000Z    6374  148.712  148.713  148.501
4     2022-09-15T02:00:00.000000000Z    5790  148.628  148.885  148.616
...                              ...     ...      ...      ...      ...
3994  2023-05-08T09:00:00.000000000Z    4945  151.897  151.920  151.737
3995  2023-05-08T10:00:00.000000000Z    3983  151.849  152.038  151.836
3996  2023-05-08T11:00:00.000000000Z    4825  151.961  152.019  151.858
3997  2023-05-08T12:00:00.000000000Z    6163  152.012  152.075  151.820
3998  2023-05-08T13:00:00.000000000Z    6978  151.898  151.954  151.670

        bid_c    mid_o    mid_h    mid_l    mid_c    ask_o    ask_h    ask_l
0     148.680  148.731  148.832  148.558  148.704  148.831  148.932  148.607  \
1     148.540  148.702  148.740  148.468  148.558  148.727  148.766  148.490
2     148.705  148.553  148.815  148.530  148.726  148.571  148.840  148.549
3     148.623  148.734  148.734  148.522  148.643  148.756  148.756  148.543
4     148.806  148.648  148.906  148.637  148.829  148.667  148.927  148.658
...       ...      ...      ...      ...      ...      ...      ...      ...
3994  151.848  151.905  151.930  151.748  151.859  151.913  151.940  151.758
3995  151.963  151.860  152.048  151.847  151.972  151.872  152.059  151.858
3996  152.013  151.972  152.030  151.868  152.024  151.982  152.041  151.877
3997  151.901  152.024  152.085  151.828  151.911  152.036  152.095  151.837
3998  151.841  151.909  151.965  151.680  151.852  151.920  151.976  151.689

        ask_c
0     148.729
1     148.577
2     148.748
3     148.663
4     148.852
...       ...
3994  151.870
3995  151.982
3996  152.036
3997  151.921
3998  151.862

[3999 rows x 14 columns] loaded 3999 candles from 2022-09-14T22:00:00.000000000Z to 2023-05-08T13:00:00.000000000Z
                                time  volume    bid_o    bid_h    bid_l
0     2022-09-15T01:00:00.000000000Z    4082  0.60075  0.60171  0.59995  \
1     2022-09-15T02:00:00.000000000Z    2561  0.60167  0.60196  0.60061
2     2022-09-15T03:00:00.000000000Z    1776  0.60076  0.60078  0.60007
3     2022-09-15T04:00:00.000000000Z    1453  0.60059  0.60104  0.60036
4     2022-09-15T05:00:00.000000000Z    2195  0.60070  0.60073  0.59965
...                              ...     ...      ...      ...      ...
3994  2023-05-08T09:00:00.000000000Z    2076  0.63224  0.63326  0.63192
3995  2023-05-08T10:00:00.000000000Z    1577  0.63302  0.63453  0.63296
3996  2023-05-08T11:00:00.000000000Z    1785  0.63453  0.63483  0.63422
3997  2023-05-08T12:00:00.000000000Z    2558  0.63424  0.63506  0.63406
3998  2023-05-08T13:00:00.000000000Z    3027  0.63484  0.63584  0.63482

        bid_c    mid_o    mid_h    mid_l    mid_c    ask_o    ask_h    ask_l
0     0.60167  0.60086  0.60179  0.60013  0.60176  0.60097  0.60187  0.60029  \
1     0.60077  0.60174  0.60204  0.60071  0.60086  0.60182  0.60213  0.60080
2     0.60063  0.60086  0.60087  0.60016  0.60071  0.60095  0.60096  0.60025
3     0.60068  0.60068  0.60112  0.60044  0.60076  0.60077  0.60121  0.60053